<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fi.peltodata.service.FarmfieldMapper">

    <resultMap id="FarmfieldData" type="Farmfield">
        <result property="id" column="id" />
        <result property="description" column="description" />
        <result property="userId" column="user_id" />
    </resultMap>
    <select id="findAllFarmFields" resultType="FarmfieldData">
        select pf.id, pf.description, pf.userId from peltodata_field
    </select>


    <insert id="insertFarmField" parameterType="Farmfield" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO peltodata_field (
            description,
            user_id
        )
        VALUES (
            #{description},
            #{userId}
        )
    </insert>

    <insert id="insertFarmFieldMapLayer" parameterType="map">
        INSERT INTO peltodata_field_layer (
            field_id,
            layer_id
        )
        VALUES (
            #{farmfieldId},
            #{maplayerId},
        )
    </insert>

    <delete id="delete" parameterType="Long">
        delete from peltodata_field where id = #{id}
    </delete>


</mapper>
